:root {
  --primary-color: #8cb0e6;
  --secondary-color: #648db3;
  --background-color: #52357b;
  --text-color: #b2d8ce;
  --buttons-color: #524aa6;
  --primary-font-family: "Antic", sans-serif;
  --secondary-font-family: "Anonymous Pro", monospace;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  .hero {
    padding: 80px 20px;
  }

  p {
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  .container {
    text-align: center;
    padding: 80px 0;
  }

  .portrait {
    display: none;
  }
}

.bg-body-navbar {
  background-color: var(--secondary-color);
}

body {
  background: radial-gradient(
    #492d70 32%,
    transparent 21%,
    transparent 85%,
    #492d70 30%
  );
  background-size: 3em 3em;
  background-color: #52357b;
}

h1 {
  font-family: "Antic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  text-align: center;
  font-size: 64px;
  text-shadow: 1px 12px 10px rgba(140, 176, 230, 0.3);
}

h2 {
  color: var(--text-color);
}

p {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: var(--text-color);
}

i {
  color: var(--primary-color);
  font-size: 27px;
  margin: 15px 20px;
}

.hero {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
}

.btn-branding {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 26px;
  border-radius: 50%;
  padding: 30px;
  color: var(--secondary-color);
}

.btn-background-color {
  background-color: var(--buttons-color);
  color: var(--secondary-color);
}

.container {
  max-width: 1080px;
  padding: 20px 40px;
}

.row {
  --bs-gutter-x: 10rem;
}

.row p {
  font-size: 16px;
}

.card {
  border: none;
  background: var(--secondary-color);
  padding: 15px;
}

.card-title {
  font-family: "Antic", sans-serif;
  color: var(--secondary-color);
  padding: 15px;
  font-weight: 800;
  font-size: 30px;
}

footer {
  background-color: var(--secondary-color);
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 25px;
}

.github-repository {
  font-size: 20px;
  text-decoration: underline;
}

a:hover {
  color: var(--buttons-color);
  transition: color 0.2s ease;
}

footer i:hover {
  color: var(--buttons-color);
  transition: color 0.3s ease-in-out;
}

.portrait {
  border-radius: 15px;
  width: 100%;
}

body .dark-mode {
  background-color: #cecece;
}

.avatar-image {
  width: 360px;
}

#first-one {
  border: 12px outset #8cb0e6;
  border-radius: 37px;
  animation: bounceBack 0.3s ease forwards;
}

#second-one {
  display: none;
  border: 12px outset #b2d8ce;
  border-radius: 37px;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#images-change:hover #first-one {
  display: none;
}

#images-change:hover #second-one {
  display: block;
  transform: scale(1.1); /* La imagen crece */
  animation: bounceBack 0.3s ease forwards;
}

@keyframes bounceBack {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
